<p>
  <strong>Author:</strong>
  <%= note.author %>
</p>
 
<p>
  <strong>Note:</strong>
  <%= note.body %>
</p>
<p>
  <%= link_to 'Delete Note', [record.note, note],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>